* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

body {
  color: white;
  background: black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #c5832b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  color: white;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url("images/wallpaper.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700px;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #c5832b;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  text-align: justify;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #c5832b;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.home-sci a:hover {
  background: white;
  color: #081b08;
  box-shadow: 0 0 20px #c5832b;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #c5832b;
  border-radius: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #c5832b, 0 0 25px #c5832b;
}

.btn-box:hover {
  box-shadow: 0 0 5px #c5832b, 0 0 25px #c5832b, 0 0 50px #c5832b,
    0 0 100px #c5832b, 0 0 200px #c5832b;
}

/*about*/
.about {
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: row;
  background: url("images/black-wallpaper.png") no-repeat center center/cover;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.about-img {
  flex: 1;
  display: grid;
  justify-content: center;
  align-items: center;
}

.about-img img {
  padding-bottom: 20%;
  max-width: 630px;
}

.about-text {
  flex: 1;
  color: #fff;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: #c5832b;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  text-align: justify;
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

/*my services*/
#services {
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}

.sub-title span {
  color: #c5832b;
}

.container {
  padding: 90px;
}

.services-list {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 600;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #c5832b, 1px 1px 40px #c5832b;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: #c5832b;
  border-radius: 40px;
  font-size: 16px;
  color: #c5832b;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #c5832b, 0 0 25px #c5832b;
}

.read:hover {
  box-shadow: 0 0 20px #c5832b, 0 0 25px #c5832b, 0 0 50px #c5832b,
    0 0 100px #c5832b, 0 0 200px #c5832b;
}

.services-list div:hover {
  transform: translateY(-10px);
}

/*technical skill*/
section {
  display: flex;
  flex-wrap: wrap;
}

.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;
}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}

.bar {
  font-size: 23px;
}

.Technical-bars .bar {
  margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
  margin-top: 0;
}

.Technical-bars .bar:last-child {
  margin-top: 0;
}

.Technical-bars .bar .info {
  margin-bottom: 5px;
}

.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showtext 0.5s 1s linear forwards;
  opacity: 0;
}

.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #c5832b;
  animation: animate 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

/*portfolio*/
.main-text {
  padding-top: 50px;
}

.main-text h2 {
  font-size: 60px;
  line-height: 1;
  text-align: center;
}

.main-text h2 span {
  color: #c5832b;
}

.portfolio-content {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 60px;
  text-align: center;
}

.row {
  position: relative;
  overflow: hidden;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: white; /* Example gradient */
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}

.layer h5 {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p {
  color: black;
  font-size: 1rem;
  line-height: 1.8;
  text-align: justify;
}

.layer p2 {
  color: black;
  font-size: 1rem;
  line-height: 2;
  text-align: justify;
}

.layer i {
  color: #fff;
  margin-top: 20px;
  font-size: 20px;
  background: #c5832b;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.row:hover .layer {
  height: 100%;
}

/*contact*/
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}

.contact-text h2 {
  font-size: 90px;
  line-height: 1;
  text-align: center;
}

.contact-text h2 span {
  color: #c5832b;
}

.contact-text h4 {
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-family: 600;
}

.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}

.contact-list {
  margin-bottom: 3rem;
}

.contact-list li {
  margin-bottom: 10px;
  display: block;
}

.contact-list li {
  margin-bottom: 10px;
  display: block;
}

.contact-list i {
  display: inline-block;
  color: #c5832b;
  transition: all 0.4s ease;
}

.contact-icon i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #c5832b;
  border-radius: 50%;
  font-size: 20px;
  color: #c5832b;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.contact-icon i:hover {
  background: #c5832b;
  color: #fff;
  box-shadow: 0 0 20px #c5832b;
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #555557;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.contact-form textarea {
  resize: none;
  height: 220px;
}

.contact-form form input::placeholder,
textarea::placeholder {
  color: #fff;
}

.contact-form form .send {
  display: inline-block;
  padding: 12px 28px;
  background: #c5832b;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #c5832b, 0 0 25px #c5832b;
}

.contact-form form .send:hover {
  box-shadow: 0 0 20px #c5832b, 0 0 25px #c5832b, 0 0 50px #c5832b,
    0 0 100px #c5832b, 0 0 200px #c5832b;
}

.last-text p {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(235, 211, 107);
  font-weight: 300;
  margin-top: 70px;
  color: black;
}

.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2, 1rem;
}

.top i {
  color: white;
  background: #c5832b;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 768px) {
  /* Adjustments for tablets and smaller devices */
  .header {
    padding: 20px 5%;
  }

  .navbar a {
    margin-left: 20px;
  }

  .home-content {
    padding: 50px 5%;
  }

  .home-content h3 {
    font-size: 24px;
  }

  .home-content h1 {
    font-size: 40px;
  }

  .home-content p {
    font-size: 16px;
  }

  .home-sci a {
    margin: 20px 10px;
  }

  .btn-box {
    padding: 10px 20px;
  }

  .about {
    flex-direction: column;
    padding: 2rem 5%;
  }

  .about-img img {
    max-width: 100%;
    height: auto;
  }

  .about-text h2 {
    font-size: 40px;
  }

  .services-list {
    flex-direction: column;
    gap: 30px;
  }

  .services-list div {
    padding: 30px;
  }

  .main-text h2 {
    font-size: 40px;
  }

  .portfolio-content {
    flex-direction: column;
    gap: 30px;
  }

  .row img {
    width: 100%;
  }

  .layer p {
    font-size: 10px;
  }

  .layer p2 {
    font-size: 8px;
  }

  .layer {
    width: 100%;
    height: 0;
    background: white; /* Example gradient */
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
  }

  .contact {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem 5%;
  }

  .contact-text h2 {
    font-size: 60px;
  }

  .contact-form {
    margin-top: 30px;
  }

  .last-text p {
    padding: 15px 0;
    font-size: 14px;
  }
}
